<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name=”description” content="Надежный сервис котортких ссылок"/>
    <meta name=”keywords” content="короткая ссылка,короткие ссылки гугл,сделать короткую ссылку,короткие ссылки вк,сервис коротких ссылок,goo короткие ссылки,bit ly,яндекс ссылка,ссылка вк,ссылка сокращение,link for you"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="./static/css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./static/css/favicon.ico" type="image/x-icon"> 
    <title>Link for You - Cервис коротких ссылок</title>
</head>
<body>
  <header id="header">
      <div class="logo"><span>Link for You</span></div>
      <div class="description"><span>Cервис коротких ссылок</span></div>
      <div class="container">
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="basic-url"></label>
              <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text"  id="basic-addon3">Ссылка: </span></div>
                <input type="url" name="msg" class="form-control" id="basic-url" autocomplete="off" aria-describedby="basic-addon3">
                <div class="input-group-prepend"><button class="btn btn-outline-secondary" name="submit" type="button">Сократить</button></div>
              </div>
                    {% if urls %}
                      <div class="alert alert-success" role="alert">http://l4y.su/{{ urls }}</div>
                    {% endif %}
         </form>
      </div>
  </header>
  <footer id="footer" class="footer">
      <div class="footer-bottom">
          <div class="container" class="top-cover>
            <div class="row">
              <span class="copyright">&copy; Shuvalov Evgeny</span>
              <a href="https://vk.com/shuvalovevgeny"><i class="fa fa-vk"></i></a>
              <a href="https://github.com/ShuvalovEP"><i class="fa fa-github"></i></a>
          </div>
      </div>
  </footer>
</body>
</html>
